.imagenPost{
max-height: 250px;
}
.row1{
    background-color: darkorange;
}
.row2{
    background-color: #ffe884;
}
body{
    padding-top:75px;
}
.celda{
    text-align: center;
    height: auto;
    width: auto;
}

h2{
    color: red;
}
h2#normal{
    color: black;
}
a.list-group-item {
    background-color: gainsboro;
}