.imagenPost{
max-height: 250px;
}
/*body{
    padding-top:75px;
}*/
.celda{
    text-align: center;
    height: auto;
    width: auto;
}

h2{
    color: red;
}
h2#normal{
    color: black;
}
a.list-group-item {
    background-color: gainsboro;
}